{% extends 'base/base.html' %}

{% block title %}
修改博客
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
<form role="form" id="article-form" action="" method="post">
  <div class="form-group">
    <label for="title" >标题</label>
    <div >
    <input type="text" class="form-control" id="title" name='title'
    value="{{post.title}}" >
    </div>
    <label for="category" class="control-label">分类</label>
    <div class="">
    <select class="form-control" id="category" name='category'>
        {% for category in categories %}
      <option>{{ category.name }}</option>
      {% endfor %}
    </select>
    <label for="body-type" class="control-label">编辑方式</label>
    <div class="">
    <select class="form-control" id="body-type" name='body-type'>
        <option>HTML</option>
        <option>markdown</option>
    </select>

    </div>
  </div>
  <br>
<div class="form-group">
    <div id="editor" style="background-color: white;width: 100%;">

        <p>{{ post.content }}</p>
    </div>
    <!-- <label for="name">文本框</label> -->
    <textarea style="display: none;" class="form-control" id="markdown-body" rows="10"></textarea>

</div>
<input type="hidden" name="body" id="article-body">


    {% csrf_token %}
</form>

    <button  class="btn btn-success" id='submit'>提交</button>
</div>
</div>









<script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
<script src="http://cdn.bootcss.com/wangeditor/2.1.20/js/lib/jquery-2.2.1.js"></script>  

<script type="text/javascript">
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    var E = window.wangEditor
    var editor = new E('#editor')
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.customConfig.uploadImgServer = '/posts/uploadImage/'
    // 图片上传地址
    editor.customConfig.uploadFileName = 'img'
    editor.customConfig.uploadImgParams = {

        csrfmiddlewaretoken: csrftoken
    }
    // editor.txt.html( "" )
    editor.create()


    document.getElementById('body-type').addEventListener('change', function (){
        var markdown_body = document.getElementById('markdown-body')
        var html_body = document.getElementById('editor')
        if(this.value == 'markdown' ){
            markdown_body.style.display='inline'
            html_body.style.display='none'
        }
        else{
            markdown_body.style.display='none'
            html_body.style.display='inline-block'
            // html_body.style.backgroundColor ='white'
        }
        

    })

    document.getElementById('submit').addEventListener('click', function () {
    // 读取 text
    //alert(editor.txt.text())
    var bodyType = document.getElementById('body-type').value
    if(bodyType != 'markdown'){
        document.getElementById('article-body').value = editor.txt.html()
        
    }
    else{
        
        document.getElementById('article-body').value = 
            document.getElementById('markdown-body').value
    }
    // alert(document.getElementById('article-body').value)
    document.getElementById('article-form').submit()
    
    //
}, false)
</script>





{% endblock %}