 <!-- 评论和留言次相关模板 -->

  <div class="comment-container">

    {% for comment in post.comments.all %}
 <div style="background-color: #ffffff;padding:10px 30px;border-bottom:1px solid #E1E4E6">
<p> {{ comment.author.username }} &nbsp;&nbsp;{{ forloop.counter }} 楼

<span style="color:#777;font-size: 12px;float: right;"> &nbsp;&nbsp;{{ comment.create_time }} </span>
</p>

<div class="post-body" style="">
{{ comment.content }}
<span  style="color:blue;float: right;cursor: pointer; " onclick="changeDest(this)" post-comment-id="{{ comment.id }}"
    dest-id="{{ comment.author.id }}" dest-name="{{ comment.author.username }}">&nbsp;&nbsp;回复楼主</span>
</div>
<br>
<div class="sub-comments" style="border-color: gray;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    margin-left: 30px;
    padding-left: 10px;">
 {% for sub_comment in comment.subcomments.all %}
   <p> <a>{{sub_comment.author.username }} </a>
    {% if sub_comment.author == comment.author %}
    <span style="color:#56dc03">[楼主]</span>
    {% elif sub_comment.author == post.author %}
    <span style="color:red">[博主]</span>
    {% endif %}

   @<a>{{sub_comment.dest_user.username }}</a>

    {% if sub_comment.dest_user == comment.author %}
    <span style="color:#56dc03">[楼主]</span>
    {% elif sub_comment.dest_user == post.author %}
    <span style="color:red">[博主]</span>
    {% endif %}

    :{{sub_comment.content}}
    <span  style="color:blue;cursor: pointer; " onclick="changeDest(this)" post-comment-id="{{ comment.id }}"
    dest-id="{{ sub_comment.author.id }}" dest-name="{{ sub_comment.author.username }}">&nbsp;&nbsp;[回复]</span>
     </p>




  
  {% endfor %}
  
  <div class="subcomment-input-container" >

    <form class="subcomment-input-form" method="post" action="/comments/postSubComment/"
    id="subcomment-form-{{ comment.id }}" style="display: none;padding-top: 10px;">
    <input type="text" name="content" id="subcomment-content" placeholder="回复给
    {{ comment.author.username }}">
    <input type="hidden" name="dest-id" id="subcomment-dest" value="{{ comment.author.id }}">
    <input type="hidden" name="post-comment-id" id="post-comment-id" value="{{ comment.id }}">
    <input type="submit" value="提交">
    {% csrf_token %}
     </form>
    
    <!-- <input type="text" id="subcomment-input" dest="{{ comment.id }}"> -->

 
 </div>
</div>
</div>

 {% endfor %}
  </div>



  <div class="fixed-toolbar" style="position: fixed;bottom: 0;left:0;width:50px;height: 88px;background-color: blue">
 <button   style="width:100%" data-toggle="modal" data-target="#myModal">发表评论</button>
 <button class="back-to-top" style="width:100%"><a href="#top">返回顶部</a></button>
  </div>
</div>

</div>
</div>
</div>
</div>





<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          发表评论
        </h4>
      </div>
      <div class="modal-body">


          <div class="form-group">
            <textarea  class="form-control" id="comment" rows=3 placeholder="输入您的评论，请不要发表政治敏感、恐怖、色情、宗教等言论" style="resize:none;"></textarea> 
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary" onclick="addPostComment()">
          提交
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>



<!-- 隐藏的表格 -->
<form id="post-comment-form" method="post" action="/comments/postComment/">
  {% csrf_token %}
  <input type="hidden" id="comment-content" name="content">
  <input type="hidden" id="comment-post_id" name="post-id" value="{{ post.id }}">
</form>




 {% block js %}

 <script type="text/javascript">
   function changeDest(source){
    var form = document.getElementById('subcomment-form-'+source.getAttribute('post-comment-id'))
    form.style.display='block'

    var content = form.children[0]
    var dest = form.children[1]
    content.setAttribute('placeholder','  回复给 ' + source.getAttribute('dest-name'))
    dest.value = source.getAttribute('dest-id')
   }

     function addPostComment(){
      document.getElementById('comment-content').value = document.getElementById('comment').value
     
      document.getElementById('post-comment-form').submit()
      //使用ajax异步发送请求
      // $.post('/postComment/',$("#post-comment-form").serialize(),
      //   function(data){
      //     if(data=="ok"){
      //       $('#myModal').modal('hide')
      //     }
      //     else{
      //       alert(data)
      //     }
      //   })



  }
 </script>
 {% endblock %}