<div style="text-align: center;">
    <ul class="pagination">

    	{% if page_obj.has_previous %}
	    <li><a href="./?page={{ page_obj.previous_page_number }}">上一页</a></li>
	    {% else %}
	    <li class="disabled"><a href="#">上一页</a></li>
	    {% endif %}

	    <li><a href="./?page=1">首页</a></li>


	    <li><a href="#">{{ page_obj.number }}</a></li>


	    <li><a href="./?page={{ page_obj.paginator.num_pages }}">尾页</a></li>

	    {% if page_obj.has_next %}
	    <li><a href="./?page={{ page_obj.next_page_number }}">下一页</a></li>
	    {% else %}
	    <li class="disabled"><a href="#">下一页</a></li>
	    {% endif %}
	</ul>
</div>