<div style="text-align: center;">
    <ul class="pagination">

    	{% if posts.has_previous %}
	    <li><a href="./?page={{ posts.previous_page_number }}">上一页</a></li>
	    {% else %}
	    <li class="disabled"><a href="#">上一页</a></li>
	    {% endif %}

	    <li><a href="./?page=1">首页</a></li>


	    <li><a href="#">{{ posts.number }}</a></li>


	    <li><a href="./?page={{ posts.paginator.num_pages }}">尾页</a></li>

	    {% if posts.has_next %}
	    <li><a href="./?page={{ posts.next_page_number }}">下一页</a></li>
	    {% else %}
	    <li class="disabled"><a href="#">下一页</a></li>
	    {% endif %}
	</ul>
</div>