.blog-title a:hover{
	color:red;
	}
.blog-container{
	margin:auto;
	min-height: 190px;
	background-color: #ffffff;
	padding:10px 30px 30px 30px;
	border-bottom: solid 1px #d4cdcd;

}
.blog-container:hover{
	background-color:rgb(250,250,250);
}
.blog-body{
	font-size:14px;
	line-height: 30px;
	text-align: justify;

}
.blog-title{
	margin-top: 0px;
	font-size: 20px;
}
.category{
	float: left;
	width: 100%;
	text-align: center;
    background-color: white;
    padding: 12px 10px;
    font-size:16px;
}
.home-title{
	line-height: 45px;
	font-weight: 400;
	font-size: 16px;
	padding:5px 0px;
	margin:0 30px;
	border-bottom: 1px solid gray;
}
.post-container{
	margin-bottom: 30px;

	background-color: white;
	box-shadow: 5px 5px 5px gray;
}
.post-container a:hover{
	text-decoration:none;
}
#myCarousel{
	width: 90%;
    margin: 30px auto;
}
.carousel-inner img{
	width: inherit;
	height: inherit;
}
.post-list{
	background-color: white;
	padding: 10px 20px;
	margin-top: 30px;
}
.list-title{
	border-bottom: 1px solid gray;
	font-size: 16px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.wheather-container{
    padding: 10px 0px 0px 10px;
    background-color: white;	
}
.post-body img:hover{
	transform:scale(1.1);
}